body {
    font-family: Arial, Helvetica, sans-serif;
}

.carousel-item img {
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

.blur2 {
    -webkit-filter: blur(1px) saturate(80%) brightness(30%) contrast(150%);
    filter: blur(2px) saturate(90%) brightness(80%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

#search {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50px;
    padding: 20px;
    width: 360px;
    z-index: 30;
    border-radius: 5px;
    color: #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    background: #f1f0f0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    -webkit-backdrop-filter: saturate(200%);
}

#search input::placeholder {
    color: rgb(247, 243, 243);
}
